* {
    font-size: 20px;
}
.container-form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}
.form {
    background-color: #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 50px;
    padding: 40px;
    border-radius: 80px;
}

.form__section {
    margin: 10px;
}

.form__section-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 50px;
}

.form__input-group {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.form__input {
    background: #0006;
    width: 300px;
    height: 40px;
    padding: 10px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 40px;
}
.form__input::placeholder {
    color: #222;
}
.form__input:hover {
    background-color: rgba(130, 130, 130, 0.39);
}
.form__input:focus{
    background-color: #000000;
}

.form__section-sbmt input, .form__section-btns button a {
    color: #000000;
}

.form__input-sbmt {
    background-color: #fff;
    width: 600px;
    height: 60px;
    font-size: 1.5em;
}
.form__input-sbmt:hover {
    background-color: #ddd;
}

.form__section__btn {
    background: #bbb;
}
.form__section__btn:hover {
    background-color: #eee;
}

.form__section__btn a {
    text-decoration: none;
}

